@import '@styles/dark.css';

:root {
    /* Colour Scheme (Primary) */
    --primary-1: 4, 120, 87;
    --primary-2: 5, 150, 105;
    --primary-3: 16, 185, 129;
    /* Colour Scheme (Secondary) */
    --secondary-1: 37, 99, 235;
    --secondary-2: 59, 130, 246;
}