@import '@styles/dark.css';

:root {
    /* Colour Scheme (Primary) */
    --primary-1: 29, 78, 216;
    --primary-2: 37, 99, 235;
    --primary-3: 59, 130, 246;
    /* Colour Scheme (Secondary) */
    --secondary-1: 79, 70, 229;
    --secondary-2: 99, 102, 241;
}